body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
  justify-content: space-between;
  padding: 35px;
    min-height: 100vh;
    background: #031321;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
body button{
    border:none;
    background: none;
    align-self: center;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #3196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;

}
button:hover{
    color :white;
    background: #2196f3;
    box-shadow:  0 0 10px #3296f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
transition-delay: 1s;
} 

button span{
    position: absolute;
    display: block;

}

button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3)


}

button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3)


}

button:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

button span:nth-child(2){
   top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3)


}

button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

button span:nth-child(4){
    bottom: -100%;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg,transparent,#2196f3)
 
 
 }
 
 button:hover span:nth-child(4){
     bottom: 100%;
     transition: 1s;
     transition-delay: 0.75s;
 }

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body .contenedor:nth-child(2){

    align-self: center;

}
body .contenedor button:nth-child(2){

    margin: 20px;
    
}

 p{
    opacity:0;
     transition: 0.5s ease;
     padding: 15px;
     box-sizing: border-box;
    background: #2196f3;
    box-shadow:  0 0 10px #3296f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
     font-size: 25px;
     color: white;
     text-transform: uppercase;
     
 }

 .enc{
    opacity: 1;
    animation: on 1.5s infinite  ;
 }


 @keyframes on{
    0%{
        opacity: 1;
    }
  
   
    50%{
        opacity: 0;
    }
} 

 
