* {
  margin: 0;
  padding: 0; }

body {
  background: #ccc; }

h2 {
  text-align: center;
  font-size: 35px; }

.contenedor {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: teal; }

.dado {
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.dado:before {
  content: '';
  content: '';
  position: absolute;
  width: 90%;
  left: 5%;
  top: 100%;
  height: 10px;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0; }

.dado:hover {
  -webkit-box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset;
  box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px); }

.dado:hover:before {
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
  opacity: 1; }

.punto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.punto-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto; }

.punto-2:nth-child(2) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 /span 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 /span 3; }

.punto-3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto; }

.punto-3:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.punto-3:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 /span 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 /span 3; }

.punto-4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto; }

.punto-4:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.punto-4:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.punto-4:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2; }

.punto-5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto; }

.punto-5:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.punto-5:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 /span 3; }

.punto-5:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.punto-5:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2; }

.punto-6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  margin: auto; }

.punto-6:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.punto-6:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.punto-6:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2; }

.punto-6:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4; }

.punto-6:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3; }

.pun {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white; }

.conte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.dados {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dados-2 {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-2 .pun:nth-child(2) {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.dados-3 {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-3 .pun:nth-child(2) {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.dados-3 .pun:nth-child(3) {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.dados-4 {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-4 .contpun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-5 {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-5 .contpun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-5 .contpun:nth-child(2) {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.dados-6 {
  border-radius: 8px;
  margin: 20px;
  width: 150px;
  height: 150px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados-6 .contpun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dados:before, .dados-2:before, .dados-3:before, .dados-4:before, .dados-5:before, .dados-6:before {
  content: '';
  position: absolute;
  width: 90%;
  left: 5%;
  top: 100%;
  height: 10px;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(center, ellipse, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  opacity: 0; }

.dados:hover, .dados-2:hover, .dados-3:hover, .dados-4:hover, .dados-5:hover, .dados-6:hover {
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
  -webkit-box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset;
  box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset; }

.dados:hover:before, .dados-2:hover:before, .dados-3:hover:before, .dados-4:hover:before, .dados-5:hover:before, .dados-6:hover:before {
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
  opacity: 1; }
