*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: url(../img/fondo3.jpg);
    background-size: cover;
}

.fondo{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn{
    width: 39%;
    text-align: center;
    background: rgb(22, 68, 168);
    padding: 15px;
    margin: 0;
    border-radius: 8px;
    color: white;
}

.cajaform{

 position: relative;
    width: 39%;
    background: rgba(0,0,0,0.6);
    transform-origin: top;
    padding: 30px 20px;
    transition: .5s;
      
}

form{

    display: flex;
    flex-direction: column;
}
form input{
    padding: 10px;
    font-size: 16px;
    margin: 15px;
    border-radius: 40px;
    background: transparent;
    outline: none;
border: 1px solid white;
color: white;
}
::placeholder{
    color: white;
}

form input[type="submit"]{
    display: block;
    padding: 15px 40px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1d2b38;
    color: aliceblue;
 width: 38%;
 text-align: left;
  


}

form input[type="submit"]:hover{
    background:white;
    color: #1d2b38;
}
p a{
   color: aliceblue;
   text-decoration: none;
   font-size: 18px;
  
}
p{

    padding: 10px;
    text-align: right;
    width: 100%;
   
}