body {
  margin: 0;
  padding: 0; }

.zoom {
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: url(../img/bg.jpg);
  background-size: cover; }

.zoom::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
  background: -webkit-linear-gradient(transparent, #fff);
  background: -o-linear-gradient(transparent, #fff);
  background: linear-gradient(transparent, #fff); }

.zoom #layer1 {
  position: absolute;
  left: 40%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10; }

.zoom #layer2 {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 9; }

.zoom #text {
  position: absolute;
  width: 100%;
  right: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

.content {
  padding: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.content h1 {
  margin: 0;
  padding: 0;
  font-size: 4em; }

.content p {
  font-size: 1.2em; }
