*{
    margin: 0;
    padding: 0;
}
body{
    background: #ccc;

}
h2{
    text-align: center;
    font-size:35px;

}
@mixin sombra {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    top:100%;
    height: 10px;
    background: radial-gradient(center, ellipse, rgba(0,0,0,0.75)0%,rgba(0,0,0,0)80%);
    transition-duration:0.2s;
    opacity: 0;
}
.contenedor{


width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background: teal;
}


.dado{
    position: relative;
    box-shadow: 0px 0px 2px white;
    border-radius: 8px;
    margin: 20px;
    width: 150px;
    height: 150px;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transition-duration:0.2s;
}
.dado:before{
    content: '';
    @include sombra;
}
.dado:hover{
    box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset;
    transform: translateY(-7px);
}
.dado:hover:before{
    transform: translateY(7px);
    opacity: 1;
}
@mixin pnt {
  
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: white;
    margin: auto;
}

.punto{
    @include pnt;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
   
}
.punto-2{
    @include pnt;
  
}
.punto-2:nth-child(2){
    @include pnt;
    grid-column: 3 /span 3;
    grid-row: 3 /span 3;
  
}

.punto-3{
    @include pnt;
}
.punto-3:nth-child(2){
    
    grid-column: 2 / 3;
    grid-row: 2 / 3 
}
.punto-3:nth-child(3){

    grid-column: 3 /span 3;
    grid-row: 3 /span 3;
}

.punto-4{
    @include pnt;
}
.punto-4:nth-child(4){
  
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.punto-4:nth-child(2){
  
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
}
.punto-4:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2 ;
}
.punto-5{
    @include pnt;
}
.punto-5:nth-child(5){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.punto-5:nth-child(4){
    grid-column: 1 / span 1;
    grid-row: 3 /span 3;

}
.punto-5:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.punto-5:nth-child(2){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.punto-6{
    @include pnt;
}
.punto-6:nth-child(6){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.punto-6:nth-child(5){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.punto-6:nth-child(4){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.punto-6:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.punto-6:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
// DADOS CON FLEXBOX


@mixin dad{
    border-radius:8px;
    margin: 20px;
    width: 150px;
    height: 150px;
    background: black;
    display:flex;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 2px white;
    transition-duration: 0.2s;
}
@mixin punt {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: white;   
}
.pun{
    @include punt;
    
}
.conte{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
//dado uno
.dados{
    @include dad;
    justify-content: center;
    align-items: center;
}

// dados dos

.dados-2{
    @include dad;
    justify-content: space-between;
}
.dados-2 .pun:nth-child(2){
    align-self: flex-end;
}
.dados-3{
 @include dad;
 justify-content: space-between;
}
.dados-3 .pun:nth-child(2){

    align-self: center;
}
.dados-3 .pun:nth-child(3){
    align-self: flex-end;
}
.dados-4{
    @include dad;
    justify-content: space-between;
}
.dados-4 .contpun{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dados-5{
    @include dad;
    justify-content: space-between;
}
.dados-5 .contpun{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dados-5 .contpun:nth-child(2){
    align-self: center;
}
.dados-6{
    @include dad;
    justify-content: space-between;
}
.dados-6 .contpun{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


// sombra de dados con flexbox
.dados:before ,.dados-2:before,.dados-3:before ,.dados-4:before,.dados-5:before ,.dados-6:before{
    @include sombra;

 }
 .dados:hover, .dados-2:hover,.dados-3:hover, .dados-4:hover,.dados-5:hover, .dados-6:hover{
     transform: translateY(-7px);
     box-shadow: 2px 2px 4px white inset,-2px -2px 4px white inset;
 }
 .dados:hover:before , .dados-2:hover:before,.dados-3:hover:before , .dados-4:hover:before,.dados-5:hover:before , .dados-6:hover:before{
     transform: translateY(7px);
     opacity: 1;
 }
